@media print {
	body * {
		display: none;
	}

	#printable, #printable * {
		display: block;
	}
}

.template-annonce{
	background-image: url('../../img/rm222-mind-24.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 6px rgba(139, 139, 139, 0.753);
	width: 60%;
	margin-left: 20%;
	font-family: sans-serif;

}

body{
	font-family: sans-serif;
}

.head span , h3{
	color: rgb(14, 18, 70);
	font-size: large;
	width: 50%;
}

.head{
	width: 90%;
	margin-left: 10%;
	display: grid;
    grid-template-columns:repeat(auto-fill,50%);
}

.description ,.cl{
	width: 50%;
}


img{
	margin-left:70%;
	width: 120px;
}

.main-container{
	
	background-color: rgb(241, 241, 241);
	height: 390px;
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.534);
	width:90%;
	margin-left: 5%;
}

.main-container .person-props{
	width: 90%;
	margin-left: 10%;
	border-radius: 2px;
}

.info{
	color: rgb(53, 53, 53);
}

.main-container h2 ,.template-annonce .title h3{
	font-weight: lighter;    
	color: rgb(5, 1, 43);
	margin-top: 10px;
}

ul li{
	color: rgb(0, 26, 13);
}

.trans{
	color: rgba(240, 248, 255, 0);
}


@font-face {
    font-family: 'titillium_weblight';
    src: url('../font/titillunium/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../font/titillunium/titilliumweb-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tekturregular';
    src: url('../font/tektur/tektur-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('../font/tektur/tektur-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'astonpolizregular';
    src: url('../font/astonpoliz/astonpoliz-webfont.woff2') format('woff2'),
         url('../font/astonpoliz/astonpoliz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'space_ageregular';
    src: url('../font/space/space_age-webfont.woff2') format('woff2'),
         url('../font/space/space_age-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nebularegular';
    src: url('../font/nebula/nebula-regular-webfont.woff2') format('woff2'),
         url('../font/nebula/nebula-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#imprimer{
	position:absolute;
	top: 80%;
	left: 80%;
	background-color: rgb(28, 0, 54);
	color: white;
	width: 15%;
	border:none;
	border-radius: 10px;
	font-weight: bold;
	font-size: medium;
	font-family: sans-serif;
	height: 2.5em;
	transition: 0.5s;
}

#imprimer:hover{
	transition: 0.5s;
	cursor:pointer;
	transform:scale(1.1);
	background-color: rgb(63, 0, 122);	
}

.template-annonce h2{
	font-family: 'tektur';
	color: blueviolet;
	font-size: 34px;
	font-weight: lighter;
}
