.main-info{
	width: 70%;
	margin-top: 5%;
	margin-left: 15%;
	box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.61);
	border-radius: 10px;
	background-image: linear-gradient(12deg , rgba(192, 125, 255, 0.315) ,rgba(232, 253, 255, 0.623));
}

.info-postulant{
	width: 90%;
}

.info-postulant , .main-info h3{
	margin-left: 10%;
}

.info-postulant form{
	display: grid;
	grid-template-columns: repeat(auto-fill,50%);
}

.input-container-home select , .input-container-home input{
	height: 2em;
	border-radius: 2px;
	border: solid 1px gray;
	border-left:solid 3px green;
	background-color: rgba(241, 241, 241, 0.795);
}

.info1 ,.info2{
	width: 70%;
}

.info-postulant .input-container-home{
	margin-top: 10%;
}

.info-postulant .input-container-home p{
	margin-left: 10%;
}

center button{
	margin-top: 5%;
	background-color: rgb(28, 0, 54);
	color: white;
	width: 20%;
	border:none;
	border-radius: 10px;
	font-weight: bold;
	font-size: medium;
	font-family: sans-serif;
	height: 2.5em;
	transition: 0.5s;
}

center button{
	margin-top: 5%;
	background-color: rgb(28, 0, 54);
	color: white;
	width: 40%;
	border:none;
	border-radius: 10px;
	font-weight: bold;
	font-size: medium;
	font-family: sans-serif;
	height: 2.5em;
	transition: 0.5s;
}

center button:hover{
	transition: 0.5s;
	cursor:pointer;
	transform:scale(1.1);
	background-color: rgb(63, 0, 122);	
}

.form-div{
	margin-left: 10%;
}


input[type="radio"]{
	width: 20px;
}

input[type="file"]{
	height: 2em;
	margin-left: 10%;
	border: none;
	background-color: rgba(62, 121, 62, 0.89);
	width: 50%;
	border-radius: 3px;
}

.temp form{
	border-radius: 10px;
	display: grid;
	background-color: white;
	grid-template-columns: repeat(auto-fill,50%);
}

.photo-content{
	width: 100%;
	background-image: url('../../img/7000961.jpg');
	background-size: cover;
}

.congrates{
	width: 70%;
	margin-top: 5%;
	margin-left: 15%;
	box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.61);
	border-radius: 10px;
	background-image: url('../../img/2979667.jpg');
	background-size: cover;
}

.congrates p , .congrates h3{
margin-left: 20%;
}
