/* PRINT */
@media print {
	body * {
		display: none;
	}

	#printable, #printable * {
		display: block;
	}
}

button{
    font-family: 'titillium_weblight';	
	background: none;
	height: 2em;
	background-color: solid 1px black;
	border-radius: 10px;
	transition: 0.3s;
}

/* END PRINT */

.template-annonce{
	background-image: url('../img/backAvie.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 610px;
	border-radius: 10px;
	box-shadow: 0px 0px 6px rgba(139, 139, 139, 0.753);
	width: 60%;
	margin-left: 20%;
	font-family: sans-serif;

}

.head span , h3{
	color: rgb(14, 18, 70);
	font-size: large;
	width: 50%;
	font-family:'titillium_weblight';
}

.head{
	width: 90%;
	margin-left: 10%;
	display: grid;
    grid-template-columns:repeat(auto-fill,50%);
}

.description ,.cl{
	width: 50%;
}

img{
	margin-left:70%;
	width: 120px;
}

.main-container{
	
	background-color: rgb(241, 241, 241);
	height: 390px;
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.534);
	width:90%;
	margin-left: 5%;
}

.main-container .person-props{
	width: 90%;
	margin-left: 10%;
	border-radius: 2px;
}

.info{
	color: rgb(53, 53, 53);
}

h2{
	font-weight: lighter;
	font-family: 'tektur';
	color: rgb(245, 245, 245);
	margin-top: 10px;
}

ul li{
	color: rgb(0, 26, 13);
}
