body{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-size: cover;
	background-color: white;
}

.skill-container{
    width: 80%;
    max-width: 1300px;
    margin-top: 5%;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    grid-gap: 10px;
}

.skills-content{
	box-shadow: 0px 0px 6px rgb(0, 0, 0);
    width: 300px;
    height:450px ;
    border-radius: 10px;
    background-color: #2d3250;
    transition: 0.5s;
	position: inherit;
}

.skills-content:hover{
    transition: 0.5s;
    transform:scale(1.1);
}

.photo-container {
    height: 250px;
    width: 100%;
    margin-top:-20px ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.CV{
    background-image:url('../../img/cv.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.listeentr{
    background-image:url('../../img/entretien.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.annonceImg{
    background-image:url('../../img/annonce.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.futuremp{
    background-image:url('../../img/futuremp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.contrat{
    background-image:url('../../img/contrat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.employes{
    background-image:url('../../img/emp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.conge{
    background-image:url('../../img/conge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title-avant{
    font-family:'tekturregular';
    color: #f9b17a;
    text-decoration:overline;
}

.content-ph{
    width: 90%;
    font-family:'titillium_weblight';
    font-size: 14px;
    color: white;
}


.photo:hover{
    transform: rotateZ(360deg) ;
    transition: .7s ease-in-out;
}

p button{
	width: 80px;
	height:40px;
    font-size: medium;
    font-weight:bolder;
    background:none;
    border: solid 2px white;
    color:  white;
    font-family: 'titillium_weblight';
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
	border-radius: 10px;
}

p button:hover{
    color: #8b4a00;
	background-color: white;
}

.photo-home{
	background-image: url('../../img/193.jpg');
	background-size: cover;
	border: none;
	box-shadow: none;
}

.photo-home:hover{
	transform: inherit;
}

.cv-container{
	width: 70%;
	margin: auto;
	margin-top: 5%;
	box-shadow: 0px 0px 6px rgba(128, 128, 128, 0.582);
	display: grid;
	grid-template-columns: repeat(auto,50%);
	
	border-radius: 10px;
}

.cv-container h4{
	font-family: 'titillium_weblight';
	font-size: larger;	
}

.cv-container p , .cv-container h4{
	margin-left: 20%;
}


.linker{
    color: #2d3250;
}

.skills-content select{
    width: 70%;
    margin: auto;
    background-color: white;
    border:solid 1px #2d3250;
}