.main-quest1{
	width: 50%;
	margin-left: 25%;
	height: auto;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.37);
	font-family: 'titillium_weblight';
}

.main-quest1 h3{
 color: rgb(50, 15, 82);
 font-family: 'titillium_weblight';
}

.main-quest1 p {
	margin-left: 20%;
}

.main-quest1 li {
	list-style: none;
	margin-left: 20%;
}

.main-quest1 li input {
	width: 20px;
	height: 20px;
}

.main-quest1 input[type="number"] {
	border: solid 1px gray;
	width: 100px;
	margin-left: 4%;
	border-left: solid 3px green;
}
.main-quest1 button{
	margin-left: 20%;
	height: 2.5em;
    width: 30%;
    font-size: medium;
    font-weight:bolder;
    background-color: rgb(7, 0, 31);
    color:  rgb(255, 255, 255);
    font-family: 'titillium_weblight';
	border: none;
	border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
}

.main-quest1 button:hover{
    background-color: rgb(23, 12, 61);
	transition: 0.4s;
	transform: scale(1.1);
	transition-timing-function: ease-in-out;
}

.fin{
	color: white;
}


.absolutive-btn{
	margin-left: 20%;
	height: 2.5em;
    width: 10%;
    font-size: medium;
    font-weight:bolder;
    background-color: rgb(7, 0, 31);
    color:  rgb(255, 255, 255);
    font-family: 'titillium_weblight';
	border: none;
	border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
	top: 80%;
	left: 60%;
}

.absolutive-btn:hover{
    background-color: rgb(23, 12, 61);
	transition: 0.4s;
	transform: scale(1.1);
	transition-timing-function: ease-in-out;
}


.absolutive-btnL{
	margin-left: 20%;
	margin-top: 5%;
	height: 2.5em;
    width: 10%;
    font-size: medium;
    font-weight:bolder;
    background-color: rgb(7, 0, 31);
    color:  rgb(255, 255, 255);
    font-family: 'titillium_weblight';
	border: none;
	border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
	top: 80%;
	left: 60%;
}

.absolutive-btnL:hover{
    background-color: rgb(23, 12, 61);
	transition: 0.4s;
	transform: scale(1.1);
	transition-timing-function: ease-in-out;
}
