.main-resume{
	width: 70%;
	margin-left: 15%;
	font-family: 'titillium_weblight';
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.432);
}

.main-resume p ,.main-resume table{
	min-height: 50%;
	margin-left: 10%;
}

.table-container table tr{
height: 3em;
}

.table-container table{
	overflow-y: auto;
	max-height: 300px;
	width:80%;
}

.table-container{
	width: 70%;
	margin-left:15%;
}

.absolutive-btnR{
	margin-left: 25%;
	margin-top: 5%;
	height: 2.5em;
    width: 10%;
    font-size: medium;
    font-weight:bolder;
    background-color: rgb(7, 0, 31);
    color:  rgb(255, 255, 255);
    font-family: 'titillium_weblight';
	border: none;
	border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
	top: 80%;
	left: 60%;
}

.absolutive-btnR:hover{
    background-color: rgb(23, 12, 61);
	transition: 0.4s;
	transform: scale(1.1);
	transition-timing-function: ease-in-out;
}
