.card{
	font-family: 'titillium_weblight';	
	background-color: white;
	width:1300px ;
	margin-top: 3%;
	width: 90%;
	height:400px;
	margin-left:5%;
	border-radius: 10px;
	box-shadow:0px 0px 6px rgba(128, 128, 128, 0.76);
}

.card-body{
	margin-top: 3%;
	margin-left: 5%;
	width: 90%;
	height: 350px;
	border-radius: 5px;
}

.card-body button{
	width: 100%;
}

.list-group{
	overflow-y: auto;
	max-height: 300px;
}

.card-body table{
	border: solid 1px gray;
	border-radius: 3px;
	height: 100%;
	width: 100%;
}

.card-body table td{
	border-bottom: solid 1px gray;
}

.card-body table tr{
	font-family: 'titillium_weblight';
	border-bottom: solid 1px gray;
	height: 3em;
}

@font-face {
    font-family: 'titillium_weblight';
    src: url('../font/titillunium/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../font/titillunium/titilliumweb-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.title td{
	color: white;
	border-left: solid 3px rgb(78, 124, 66);
	background-color: rgb(78, 124, 66);
}


table button{
    font-family: 'titillium_weblight';	
	background: none;
	height: 2em;
	background-color: solid 1px black;
	border-radius: 10px;
	transition: 0.3s;
}

table button:hover{
	transition: 0.3s;
	transform: scale(1.1);
	background-color: black;
	color: white;
	border: none;
}

