body{
	background-color: rgba(235, 235, 235, 0.89);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
	font-size: large;
}


h2 , h1{
	font-family: 'astonpolizregular';
	font-weight: lighter;
}

h1{
	font-family: 'astonpolizregular';
	width: 50%;
	display: flex;
	margin-left: 10%;
	font-size: 64px;
	color: white;
	text-shadow: 0px 0px 6px rgb(82, 82, 82);
}

.small{
	font-size: medium;
	color: rgb(129, 129, 129);
}

.main-container{
	height: auto;
	margin-top: 7%;
	width: 777px;
	max-width:777px ;
	margin-left: 20%;
	display: grid;
	grid-template-columns: repeat(auto-fill,388px);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
	grid-gap:1px;
	border-radius: 10px;
	font-family: 'titillium_weblight';
}

.img-content{
	height: 100%;
	background-image: url('../img/pexels-fredy-george-antony-6536035.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius : 10px;
	border-bottom-left-radius : 10px;
}

.img-content{
	height: 100%;
	background-image: url('../img/pexels-ushindi-namegabe-17795616.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-top-left-radius : 10px;
	border-bottom-left-radius : 10px;
}

.card-body{
	background-color: rgb(255, 255, 255);
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input{
	width: 80%;
	margin-left: 10%;
	height: 2em;
	font-size:100%;
	border: solid 1px rgb(163, 163, 163);
	border-radius: 5px;
	border-left:solid 5px rgb(13, 163, 81);
}

label{
	margin-left: 10%;
}

.col-12{
	margin-top: 4%;
}

.col-12 button{
	margin-top: 3%;
    margin-left: 11%;
	height: 3em;
    min-width: 80%;
    font-size: medium;
    font-weight:bolder;
    background-color: rgb(7, 0, 31);
    color:  rgb(255, 255, 255);
    font-family: 'titillium_weblight';
	border: none;
	border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
}

.col-12 button:hover{
    background-color: rgb(23, 12, 61);
	transition: 0.4s;
	transform: scale(1.1);
	transition-timing-function: ease-in-out;
}

.col-12 p{
	margin-left: 10%;
}

video{
width: 50px;
height: 50px;
}

@font-face {
    font-family: 'titillium_weblight';
    src: url('../font/titillunium/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../font/titillunium/titilliumweb-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tekturregular';
    src: url('../font/tektur/tektur-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('../font/tektur/tektur-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'astonpolizregular';
    src: url('../font/astonpoliz/astonpoliz-webfont.woff2') format('woff2'),
         url('../font/astonpoliz/astonpoliz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'space_ageregular';
    src: url('../font/space/space_age-webfont.woff2') format('woff2'),
         url('../font/space/space_age-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nebularegular';
    src: url('../font/nebula/nebula-regular-webfont.woff2') format('woff2'),
         url('../font/nebula/nebula-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}