* {
    box-sizing: border-box;
}

body{
	background-color: rgba(235, 235, 235, 0.89);
}

.navbar {
    /* top: 1%; */
    /* left: 1%; */
    height: 10vh;
    width: 99%;
    display: flex;
    position: relative;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    background-color: #00001d; 
    border-radius: 10px;
    color: rgb(24, 24, 24);
    box-shadow: 0px 0px 4px rgb(233, 200, 200);
}

.brand-title {
    position: relative;
    height: 100%;
    width:70px ;
    background-size: cover;
}

.navbar-links {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li {
	font-family: 'tekturregular';
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin: .5rem;
    padding: 1rem;
    transform: translateY(0px);
    transition-timing-function: ease-in-out;
    transition: .5s;
}

.navbar-links li.active , .navbar-links li a.active , .navbar-links li:hover ,.navbar-links li a:hover {
    text-decoration: underline;
    color: #52ffbd;
    transform: translateY(-1px);
    transition-timing-function: ease-in-out;
    transition: .5s;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

a{
	text-decoration: none;
	color: white;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

@media screen and (max-width: 1300px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        position: relative;
        text-align: center;
        background-color: #000000;
    }


    .navbar-links ul li {
        padding: .5rem 1rem;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
    }
}


@font-face {
    font-family: 'titillium_weblight';
    src: url('../font/titillunium/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../font/titillunium/titilliumweb-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tekturregular';
    src: url('../font/tektur/tektur-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('../font/tektur/tektur-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'astonpolizregular';
    src: url('../font/astonpoliz/astonpoliz-webfont.woff2') format('woff2'),
         url('../font/astonpoliz/astonpoliz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'space_ageregular';
    src: url('../font/space/space_age-webfont.woff2') format('woff2'),
         url('../font/space/space_age-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nebularegular';
    src: url('../font/nebula/nebula-regular-webfont.woff2') format('woff2'),
         url('../font/nebula/nebula-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

ul li a{
    font-family: 'tektur';
}


.navbar button{
    /* /* margin-right: 15px; */
    margin-top: -4px;
    /* height: 2em;  */
    min-width: 160px;
    font-size: medium;
    font-weight:bolder;
    background:none;
    border: solid 2px white;
    color:  white;
    font-family: 'titillium_weblight';
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
}

.navbar button:hover{
	transition: 0.4s;
    color: #2d1757;
    background-color: white;
    transform: scaleX(1.1);
}


.Layout{
    position: absolute;
    width: 150px;
    height: auto;
	margin-right: 1%;
	text-align: center;
	background-color: rgb(36, 36, 36);
	border-radius: 5px;
	color: #f7f7f7;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.Layout p ,.Layout p a{
height: 10px;
justify-content: space-around;
font-family: 'titillium_weblight';
text-decoration: none;
color: white;
}

ul li img{
	margin-bottom: 9%;
	margin-right: 5%;
	width: 40px;
	height: 40px;
}

