.card{
	font-family: 'titillium_weblight';	
	background-color: white;
	width:1300px ;
	margin-top: 3%;
	width: 90%;
	height:400px;
	margin-left:5%;
	border-radius: 10px;
	box-shadow:0px 0px 6px rgba(128, 128, 128, 0.76);
}

.card-body{
	margin-top: 3%;
	margin-left: 5%;
	width: 90%;
	height: 350px;
	border-radius: 5px;
}

td{
    height: 4em;
}

.card-body button{
	width: 80%;
}

.list-group{
	overflow-y: auto;
	max-height: 300px;
	border-radius: 5px;
}

.card-body table{
	border: solid 1px gray;
	border-radius: 3px;
	height: 100%;
	width: 100%;
}

.card-body table td{
	border-bottom: solid 1px gray;
}

.card-body table tr{
	font-family: 'titillium_weblight';
	border-bottom: solid 1px gray;
	height: 3em;
}

@font-face {
    font-family: 'titillium_weblight';
    src: url('../font/titillunium/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../font/titillunium/titilliumweb-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


table button{
    font-family: 'titillium_weblight';	
	background: none;
    width:50%;
	height: 2em;
	background-color: solid 1px black;
	border-radius: 10px;
	transition: 0.3s;
}

table button:hover{
	transition: 0.3s;
	transform: scale(1.1);
	background-color: black;
	color: white;
	border: none;
}

table button.embauche:hover{
    transition: 0.3s;
	transform: scale(1.1);
	background-color: rgb(119, 105, 185);
	color: white;
	border: none;
}

table{
	width: auto;
	height: auto;  
	border-collapse: collapse;
  }
  
  table tbody tr:nth-of-type(even){
	background-color: #e4e2e2;
  }

  /* rgb(66, 124, 124); */

  .title_text {
	  top: 10%;
	  background-color: rgb(70, 34, 70);
	  box-shadow: 1px 1px 1px rgb(148, 148, 148);
	  height: 40px;
	  color: white;
	  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  .main-list{
	margin-top: 2%;
  }


  .listeAdmis{
	width: 200px;
  }

  .list{
	margin-top: 5%;
  }

 center button{
	transition: 0.3s;
    font-family: 'titillium_weblight';	
	height: 2rem;
	width: 20%;
	background-color: rgb(119, 105, 185);
	border-radius: 10px;
	color: white;
	border: none;
 }

 center button:hover{
	background-color: rgb(74, 65, 117);
	transform: scale(1.1);
	transition: 0.3s;
    font-family: 'titillium_weblight';	
 }

 .embaucher{
	transition: 0.3s;
    font-family: 'titillium_weblight';	
	height: 2rem;
	width: 10%;
	background-color: rgb(119, 105, 185);
	border-radius: 10px;
	color: white;
	border: none;
 }

.embaucher:hover{
	background-color: rgb(74, 65, 117);
	transform: scale(1.1);
	color: #e4e2e2;
	transition: 0.3s;
    font-family: 'titillium_weblight';	
 }